@import '../../assets/iconfont.css';

.myIcon12px {
    font-family: "myIcon" !important;
    font-size: 12px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 2px;
}

.myIcon14px {
    font-family: "myIcon" !important;
    font-size: 14px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 2px;
    color: rgb(157, 222, 248);
}

.myIcon26px {
    font-family: "myIcon" !important;
    font-size: 26px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 2px;
}

.myIcon18px {
    font-family: "myIcon" !important;
    font-size: 18px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(190, 190, 200);
}

.myIcon20px {
    font-family: "myIcon" !important;
    font-size: 20px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 2px;
    color: rgb(190, 190, 200);
}

.myIcon22px {
    font-family: "myIcon" !important;
    font-size: 22px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 4px;
    color: rgb(190, 190, 200);
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
body {
    padding: 0;
    margin: 0;
}

h3 {
    color: rgb(11, 111, 168);
    margin-bottom: 5px;
}

div {
    box-sizing: border-box
}

button {
    outline: none;
}

ul {
    list-style-type: none;
}

.home {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

/* 组件布局使用 */
.componentWaper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    background: rgb(241, 240, 240);
    position: relative;
}

#forHeader {
    width: 100%;
    padding: 5px;
    background: rgb(253, 251, 251);
    box-shadow: 0 0 2px rgb(187, 186, 186) inset;
}

#forTable {
    background: rgb(243, 243, 243);
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
    padding: 3px;
    border-radius: 6px
}

html,
body {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
    min-width: 700px;
    overflow: hidden;
}

#app {
    width: 100%;
    overflow: auto;
}

#app ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#app ::-webkit-scrollbar-track-piece {
    /*滚动条滑轨*/
    border-radius: 4px;
    background: transparent;
}

/* 页面头部 */
.isHeader {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background: linear-gradient(to left, rgb(143, 191, 236), rgb(71, 158, 240));
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;

    .front {
        height: 42px;
        min-width: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 15px;

        & img {
            height: 34px;
            width: 36px;
        }

        &>span {
            color: #fff;
            font-size: 26px;
            vertical-align: middle;
            letter-spacing: 4px;
        }

        button {
            border: none;
            background: none;
            color: white;
            margin-left: 10px;
            transform: scale(.9);
            padding: 4px;
        }

        button:hover {
            background: #085297;
            cursor: pointer;
        }
    }

    .back {
        cursor: pointer;
        margin-right: 20px;

        .el-dropdown-link {
            color: white;
            font-size: 14px;
        }
    }

    .toHome {
        color: rgb(246, 246, 246);
        font-size: 12px;
        font-weight: bold;
        padding: 2px 15px;
    }

    .toHome:hover {
        color: white;
    }
}

.header1 {
    background: linear-gradient(to left, rgb(151, 24, 255), rgb(183, 107, 245));
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;

    .front {
        height: 42px;
        min-width: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 15px;

        & img {
            height: 34px;
            width: 36px;
        }

        &>span {
            color: #fff;
            font-size: 26px;
            vertical-align: middle;
            letter-spacing: 4px;
        }

        button {
            border: none;
            background: none;
            color: white;
            margin-left: 10px;
            transform: scale(.9);
            padding: 4px;
        }

        button:hover {
            background: #570479;
            cursor: pointer;
        }
    }

    .back {
        cursor: pointer;
        margin-right: 20px;

        .el-dropdown-link {
            color: white;
            font-size: 14px;
        }
    }

    .toHome {
        color: rgb(246, 246, 246);
        font-size: 12px;
        font-weight: bold;
        padding: 2px 15px;
    }

    .toHome:hover {
        color: white;
    }
}

/* 导航栏 */
#isAside {
    box-sizing: border-box;
    height: calc(100% - 60px);
}

#isAside ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.aside1 {
    width: 210px;
    transition: 0.8s;
    box-shadow: 1px 1px 2px 0 rgb(187, 187, 187);
}

.aside2 {
    width: 64px;
    box-shadow: 1px 1px 2px 0 rgb(187, 187, 187);
}

.setColors {
    box-sizing: border-box;
    border-left: 5px solid #188FFF;
}

.setColors1 {
    box-sizing: border-box;
    border-left: 5px solid rgb(151, 24, 255);
}





/* 主要内容显示区域 */
.isContent1 {
    width: calc(100% - 210px);
    height: calc(100% - 60px);
    transition: 0.8s;
    overflow: auto;
    padding-left: 2px;
}

.isContent2 {
    width: calc(100% - 64px);
    height: calc(100% - 60px);
    transition: 1s;
    overflow: auto;
    padding-left: 2px;
}

/*
  menu 这类组件的布局设置
*/
.menuContent {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}

.treeWap {
    height: 100%;
    width: 30%;
    overflow-y: auto;
    background: #fff;
    border: none;
    margin-right: 5px
}

.formWap {
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 2px -2px 4px rgb(175, 174, 174);
    overflow-y: auto;
    background: rgb(250, 250, 250);
}

.forTableTitle {
    display: inline-block;

    &>span {
        display: inline-block;
        box-sizing: border-box;
        margin-left: 10px;
        vertical-align: bottom;
        padding: 5px 2px 5px 10px;
        font-size: 14px;
        color: rgb(133, 133, 133);
        border: 1px solid rgb(189, 189, 189);
        border-radius: 5px 0 0 5px;
    }
}

.logo {
    width: 140px;
    height: 160px;
    margin: 0 auto;
}

.logoWaper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logoWaper>p {
    text-indent: 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #1a80df;
    letter-spacing: 10px;
}

.setLoading i {
    font-size: 20px !important;
}

.setLoading p {
    font-size: 20px !important;
}

.setLoading {
    position: relative;
}

.setLoadingIn {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.setLoadingIn>p {
    padding-top: 24px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #1a80df;
    transition: transform 1.5s;
    transform-origin: center center;
}

// 广告上传
.colItem .el-upload {
    display: flex;
    min-width:200px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: 0;
}
// 广告详情 字体picker
.showForm .el-color-picker__mask{
    height: 38px;
    width: 38px;
    border-radius: 4px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    cursor: not-allowed;
    background-color:transparent!important;
}