li {
    margin: 8px 5px;
    font-size: 14px;
    color: rgb(128, 124, 124);
}

strong {
    display: inline-block;
    color: black;
    width: 100px;
}

.isAvatar {
    width: 200px;
}

.isName {
    color: rgb(44, 43, 43);
    font-size: 26px;
    font-weight: bold;
    line-height: 34px;
    width: 150px;
}

.forName {
    display: flex;
    align-items: flex-end;
}

.infoTitle {
    padding: 10px 0;
    border-bottom: 1px solid rgb(204, 202, 202);
}

.infoTitle>span {
    font-weight: bold;
    color: rgb(82, 83, 87);
    font-size: 20px;
}

.infoContent {
    display: flex;
}

.infoContent>div {
    width: 50%;
}

.levelIcon {
    position: relative;
}

.levelIcon>img {
    position: absolute;
    top: 0;
    width: 60px;
}

.isList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
}

.isList>p {
    padding: 3px 15px;
    border-radius: 3px;
    margin-right: 30px;
    color:rgb(51, 46, 46);
}

.headerName {
    display: flex;
    justify-content: space-between;
}

.headerName>span {
    font-size: 14px;
    padding-right: 10px;
    color: rgb(37, 196, 211);
    cursor: pointer;
}

.headerName>span:hover {
    color: rgb(68, 29, 240);
}