/* 比较全局的 */

.toInline {
    display: flex;
    justify-content: flex-start
}

.buju {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.buju>div:nth-child(1) {
    width: 43%;
    min-width: 410px;

}

.buju>div:nth-child(2) {
    width: 57%;
}

#baseWaper,
#simpleWaper,
#chartWap,
#formsWap,
#jigouWaper {
    padding: 10px 5px 0 5px;
    border-radius: 3px;
    background: #fff
}

#baseWaper,
#jigouWaper {
    margin: 0 5px 5px 0;
}

#simpleWaper {
    margin-bottom: 5px;
}

.isUpTime {
    color: rgb(149, 149, 149);
    font-size: 12px;
    vertical-align: middle;
    padding-top: 2px;
}

.isContentWaper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.isContentWaper>div {
    width: 50%;
    box-sizing: border-box;
}

.isContent {
    padding: 4px 0;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.isTitle {
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width: 80px;
}

.forH5 {
    display: flex;
    width: calc(100% - 115px) !important;
}

.forH5 p {
    width: 100%;
    word-wrap: wrap;
    overflow-wrap: break-word;
    font-size: 14px;
    color: rgb(41, 126, 151);
    margin: 0;
    padding-right: 10px;
    box-sizing: border-box
}

.withLink {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.isContent>p {
    width: calc(100% - 70px);
    margin: 0;
    color: rgb(0, 134, 175);
}

.isContentLong {
    padding-top: 4px;
    font-size: 12px;
    width: 100%;
    display: flex;
}

.isContentLong>p {
    color: rgb(0, 134, 175);
}


.isTitleLong {
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    width: 110px;
    vertical-align: middle;
    flex-shrink: 0
}

.isShowContent {
    width: calc(100% - 30px);
    margin: 0;
    color: rgb(0, 134, 175);
    box-sizing: border-box;
    padding-right: 2px;
    overflow: auto;
}


.isHidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 80px;
    color: rgb(0, 134, 175);
}

.guizeTitle {
    font-size: 14px;
    font-weight: bold;
    vertical-align: text-bottom
}

.ql-align-center {
    text-align: center
}

.ql-editor .ql-align-center {
    text-align: center;
}

/* 表单组件使用  */
.table_top {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background: white;
    margin-top: 5px
}

.table_top1 {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.isPoint {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(0, 132, 255);
    margin-right: 5px
}

.isQuestion {
    margin-left: 10px;
    font-size: 14px;
}

.isQuestion:hover {
    color: rgb(0, 134, 175);
    ;
    cursor: pointer;
}

.formsListWaper {
    padding-bottom: 5px;
    position: relative;
    width: 100%;
}

/* 图表组件使用 */
#chartWap {
    overflow: hidden;
    position: relative;
    margin-right: 5px;
}

.chartWaper {
    display: flex;
}

.chartWaper>div:nth-child(1) {
    width: calc(100% - 75px);
}

.chartWaper>div:nth-child(2) {
    width: 70px;
    margin-top: 70px;
}

.chartTop {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -2px;
    left: 5px;
    right: 10px;
}

.chartTop>div:nth-of-type(2) button {
    margin-bottom: 3px;
    width: 70px;
    padding: 5px 0;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
}

.isChartTitleDate {
    font-size: 12px;
    font-weight: bold;
    vertical-align: 10px
}

.setRadioBtn {
    margin-bottom: 4px;
}

.setRadioBtn span {
    width: 100% !important;
    border-radius: 3px !important;
    border: 1px solid rgb(230, 228, 228);
    box-sizing: border-box;
    padding: 7px 0 !important;
    ;
    text-align: center !important;
}

.editDivTop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.editDivTop>button {
    margin-left: 10px;
}

.editDivTop>p {
    width: 117px;
}

.editTit {
    display: flex;
    justify-content: space-between;
}

.editTit>p:nth-of-type(1) {
    width: 20%;
    text-align: center;
}

.editTit>p:nth-of-type(2) {
    text-align: center;
    width: 40%;
}

.editTit>p:nth-of-type(3) {
    text-align: center;
    width: 40%;
}

.editDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.editDiv>label {
    width: 214px;
    font-weight: bold;
    display: flex;
    box-sizing: border-box;
    padding: 0 2px;
}

.editDiv>div {
    margin-left: 10px;
}

.itEdit {
    background: rgb(221, 219, 219);
}

.dialogFooter {
    display: flex;
    justify-content: space-between;
}

/* 机构详情页使用*/

.jigouHeader {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    margin-bottom: 10px;
}

.header_one {
    width: 50px;
    height: 50px;
}

.header_one img {
    width: 100%;
    height: 100%;
}

.header_two {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_two p {
    margin: 0;
}

.header_two p:nth-child(1) {
    font-weight: bold;
    color: rgb(9, 155, 199);
    font-size: 14px
}

.isLink {
    text-indent: 5px;
    text-decoration: underline !important;
    color: rgb(9, 155, 199);
    cursor: pointer;
}

.isLink:hover {
    color: rgb(252, 48, 48);
}

.show_time {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5px;
    bottom: 2px;
}

.show_time2 {
    text-align: right
}

.baseHeaderButton {
    display: flex;
    justify-content: space-between
}

.baseHeaderButton>p {
    margin: 0;
    font-weight: bold;
    color: rgb(0, 134, 175);
    font-size: 14px
}

.withColor {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 3px;
    margin: 0 5px 5px 0;
    color: white;
}

.shengoutInput {
    border: none;
    background: transparent;
    outline: none;
    padding: 2px 0;
    box-sizing: border-box;
}

.shengoutInputYes {
    background: rgb(194, 224, 245);
    outline: none;
    padding: 2px 0;
    border: none;
}

.isAd::after {
    position: absolute;
    display: inline-block;
    content: '%';
    font-size: 12px;
    padding-left: 5px;
}

.stepsTopsP {
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    margin: 0
}

.stepsTops li {
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center
}

.stepsTops span {
    margin: 0 10px;
    display: inline-block;
    min-width: 60px
}

.stepsTops span:nth-of-type(2) {
    color: rgb(54, 180, 238);
}

.demo-form-inline {
    padding: 15px 0;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.is50 {
    width: 400px !important;
    min-width: 300px;
    margin: 0 0 20px 0 !important;
}

.isInput {
    width: calc(100% - 30px) !important;
}

.isA,
.isAClick {
    display: inline-block;
    width: 75px;
    height: 100%;
    font-size: 12px;
    text-align: left;
    position: absolute;
    z-index: 2;
    right: -48px;
    color: rgb(115, 161, 246);
}

.isAClick {
    text-decoration: underline
}

.isAClick:hover {
    color: rgb(8, 12, 247);
    cursor: pointer;
}

hr {
    margin: 0 0 30px 70px;
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231);
    width: 100%;
}

.isForm {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    padding-top: 30px;
}

.isFormLine {
    margin: 0 auto;
    width: 80%;
    min-width: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    padding-top: 30px;
}

.nextButtons button {
    display: inline-block;
    padding: 15px 20px;
    line-height: 0px
}

.nextButtons {
    background: #f3f3f3;
    width: 200px;
    padding-bottom: 30px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.isRadio {
    width: 50% !important;
}

.isRadio input,
.isRadio span {
    width: 100%;
    margin: 0;
}

.forLogo {
    width: 367px;
}

.toFlex {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

/// 上传logo//////////////////////////////////////////////////// 
.el-upload {
    width: 40px;
    height: 50px;
    display: inline-block;
}

.avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.avatar-uploader-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 28px !important;
    color: #8c939d;
    text-align: center;
    border: 1px dashed #8c939d;
    border-radius: 5px;
    padding: 5px;
}

.form_middle {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.form_middle>p {
    width: 140px;
    text-align: right;
    font-size: 14px;
    margin: 0;
    padding-right: 10px;
    color: #606266;

}

ul {
    list-style: none;
}

.isTable {
    padding: 0;
    margin: 0;
}

.isLi,
.isLi2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.isLi span,
.isLi2 span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.isLi {
    line-height: 24px;
    background: rgb(209, 207, 207);
    font-weight: bold;
    font-size: 12px
}

.isLi2 {
    padding: 2px 0px;
    line-height: 30px;
}

.isOdd {
    background: rgb(245, 245, 245);
}

.isLi>span:first-child,
.isLi>span:last-child {
    width: 30px;
    flex-shrink: 0
}

.isLi>span:nth-last-child(2) {
    width: 98px;
    flex-shrink: 0;
    margin-right: 2px;
}

.isLi2 span:last-child:hover {
    color: red;
    cursor: pointer;
}

.isLi2 span:last-child {
    width: 42px !important;

}

.nextPage {
    text-align: right
}

.nextPage span {
    margin: 0 5px;
    font-size: 12px;
    padding: 0 2px;
}

.nextPage>span:nth-child(3):hover,
.nextPage>span:nth-child(4):hover {
    cursor: pointer;
    color: rgb(247, 244, 244);
    background: rgb(44, 165, 235);
}

.toaddlilv {
    padding-top: 5px;
}

.toaddlilv>span {
    font-size: 14px;
    color: blue;
    display: inline-block;
    cursor: pointer;
}

.toaddlilv>span:hover {
    color: rgb(0, 140, 255);
}

.withTree {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.forTree {
    width: 180px;
    height: 100%;
    flex-shrink: 0;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 5px rgb(187, 186, 186) inset;

}

.forRight {
    padding: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.treeTop {
    display: flex;
    justify-content: space-between;

}

.treeTop>span {
    font-size: 16px;
    color: rgb(53, 104, 212);
    font-weight: bold;
}

.addCunkuan {
    display: flex;
    justify-content: space-between;
}

/* 新建成功的 */
.successWaper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.isOk {
    text-align: center;
}

.setText {
    font-size: 140px !important;
    color: rgb(0, 255, 85);
    ;
}

.okText {
    font-size: 50px;
    color: rgb(0, 255, 85);
    text-indent: 40px;
    margin: 10px 0
}

.forFenye {
    font-size: 12px;
    color: rgb(145, 144, 144);
    text-align: right;
}

.forFenye span {
    margin-right: 10px;
}

.forFenye span:hover {
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: bold;
    background: rgb(223, 223, 223)
}

.forT {
    height: calc(100% - 80px);
    overflow-y: auto;
    font-size: 14px
}

.forTtitle {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    word-break: break-all;
}

.forTList>li {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 3px;
    padding: 4px 10px 2px 25px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.forTList>li:hover::before {
    content: '>';
    position: absolute;
    top: 3px;
    left: 5px;
    color: rgb(8, 146, 139);
    font-weight: bold;
}

.forTList>li:hover,
.allPro:hover {
    color: rgb(238, 95, 107);
}

.allPro {
    padding-left: .3em;
    font-size: 16px;
    cursor: pointer;
}

.headerName {
    display: flex;
    justify-content: space-between;
}

.headerName>span {
    font-size: 14px;
    padding-right: 10px;
    color: rgb(37, 196, 211);
    cursor: pointer;
}

.headerName>span:hover {
    color: rgb(68, 29, 240);
}

.hasAddTitle {
    font-size: 14px;
    color: rgb(100, 123, 253);
    margin-bottom: 5px;
    text-indent: 1em;
}

.hasAddTitleTip {
    animation: blingbling 2s infinite;
}

@keyframes blingbling {
    0% {
        background: none;
        color: rgb(250, 45, 45);
    }

    25% {
        background: rgb(236, 149, 149);
        color: #fff;
    }

    50% {
        background: none;
        color: rgb(250, 45, 45);
    }

    75% {
        background: rgb(236, 149, 149);
        color: #fff;
    }

    100% {
        background: none;
        color: rgb(250, 45, 45);
    }
}

.bottomLiLv {
    width: 100%;
    background: pink;

}

.errInfo {
    font-weight: bold;
    color: rgb(243, 40, 101);
    margin-left: 20px;
}

.suolueWap {
    display: flex;
    flex-wrap: wrap;
}

.suolue {
    width: 190px;
    position: relative;
    margin: 0 5px 18px 0;
    padding: 5px;
    border-radius: 5px 0px 5px 5px;
    background: rgb(231, 227, 241);
    font-size: 14px;
}


.isPageName {
    padding: 4px 5px;
    font-size: 16px;
    box-sizing: border-box;
    color: #666666;
    font-weight: bold;
}

.lineSpan {
    margin-right: 2px;
    color: #188FFF;
}

.lineSpan1 {
    margin-right: 2px;
    color: rgb(170, 24, 255);
}

.content {
    width: 400px;
    margin: 20px auto 0;
}

.forDialog {
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(126, 121, 121);
    margin-right: 10px;
}

.alertUl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.alertUl li {
    width: 49%;
    word-wrap: break-word;
}

.financing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.financing tr {
    margin-bottom: 5px;
}

.financing th {
    text-align: right;
    padding-right: 10px;
}

.financing tr>th,
.financing tr>td,
.financing tr {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
}

.hoverI:hover {
    background: rgb(76, 207, 240);
    color: white;
}

/*
监管沙盒使用的
*/
.sandow {
    background: #fff;
    padding: 0 30px;
}

.sandow1 {
    background: #fff;
    margin: 15px;
    padding: 40px 0;
    height: calc(100% - 30px);
}

.sandow2 {
    background: #fff;
    padding: 20px;
}

.addPlatformButton {
    margin-top: 100px;
    padding-left: 40px;
}

.addPlatformButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.addPlatformButtons>div {
    width: 100%;
    text-align: center;
}

.sandow_top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.sandow_top>p {
    font-size: 20px;
    font-weight: bold;

}

.sandow_radioGrop {
    border: 1px solid rgb(223, 222, 222);
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
}

.sandow_content {
    margin: 15px;
    background: #fff;
    padding: 15px 15px 10px 15px;
    height: calc(100% - 30px);
}

.sandow_content>div:nth-of-type(1) {
    margin-bottom: 15px;
}

.sandow_content>div:nth-of-type(2) {
    border-top: 1px solid rgb(223, 222, 222);
    height: calc(100% - 40px);
}

.bankproduct {
    display: flex;
    justify-content: flex-end;
}

.add_bank_product {
    padding-top: 15px;
}

.isList {
    border: 1px solid rgb(216, 216, 216);
    padding: 10px 5px 10px 10px;
    margin-bottom: 10px;
}

.names {
    display: flex;
    justify-content: space-between;

}

.names>div:nth-child(1) {
    display: flex;
    align-items: center;
}

.forName>.el-checkbox__label {
    font-size: 16px !important;
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.useing {
    padding: 4px 10px;
    background: rgb(167, 165, 165);
    border-radius: 3px;
    font-size: 12px;
    color: white;
    margin-left: 10px;
}

.over {
    padding: 4px 10px;
    background: rgb(212, 211, 211);
    border-radius: 3px;
    font-size: 12px;
    color: white;
    margin-left: 10px;
}

.setFontSize {
    font-size: 12px;
    font-weight: bold;
    color: rgb(88, 88, 88);
    margin: 4px 0;
}

.forAction {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.everyTJ,
.add_new_guize {
    border-left: 5px solid rgb(150, 148, 148);
}

.canseeTitle {
    color: rgb(53, 162, 251);
    font-size: 12px;
    padding-left: 14px;
    background: rgb(230, 230, 230);
    font-weight: bold;
}

.everyTJ ul {
    font-size: 12px;
    display: flex;
    background: rgb(243, 243, 243);
    padding: 15px;
    flex-wrap: wrap;
}

.showSheng1 {
    border: 1px solid rgb(151, 150, 150);
    border-radius: 2px;
    padding: 1px 12px;
    margin: 0 10px 6px 0;
}

.showSheng2 {
    border: 1px solid rgb(151, 150, 150);
    border-radius: 2px;
    margin: 0 10px 6px 0;
}

.showSheng3 {
    border: 1px solid rgb(151, 150, 150);
    border-radius: 2px;
    padding: 1px 12px;
    margin: 0 10px 6px 0;
}

.showSheng2>div {
    border-radius: 2px;
    margin: 10px;
}

.showSheng2>div>div {
    border: 1px dashed rgb(209, 223, 250);
    padding: 4px;
    border-radius: 2px;
}

.forTime,
.showSheng3 p,
.showSheng2 p {
    line-height: 18px;
}

.showSheng1>span:nth-of-type(2),
.showSheng3 span,
.showSheng2 span {
    margin-right: 10px;
}

.showSheng2>div>p {
    padding-top: 10px;
    line-height: 14px;
    font-weight: bold;
    color: rgb(90, 168, 240);
    font-size: 14px;
}

.showSheng2 :last-child>p {
    display: none;
}

.notseeTitle {
    color: rgb(243, 87, 87);
    font-size: 12px;
    padding: 10px 0 0 14px;
    background: rgb(243, 243, 243);
    font-weight: bold;
}

.howCan_Not {
    color: rgb(124, 124, 124);
    font-size: 14px;
    padding: 10px 15px;
    font-weight: bold;
}

.add_new_guize>span {
    color: rgb(124, 124, 124);
    cursor: pointer;
    display: inline-block;
    border: 1px dashed rgb(170, 168, 168);
    font-size: 12px;
    padding: 3px 30px;
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.icon5 {
    padding-left: 15px;
    background: rgb(230, 230, 230);
}

.icon5 i {
    margin-right: 10px;
    font-size: 16px;
    color: rgb(177, 174, 174);
}

.icon5 i:hover {
    cursor: pointer;
    color: rgb(14, 13, 13);
}

.everyTJ_kong,
.everyTJ_kong1 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: rgb(124, 124, 124);
}

.everyTJ_kong1 {
    border: 1px dashed rgb(170, 168, 168);
    padding: 5px 0;
    margin-top: 10px;
}

.everyTJ_kong:hover,
.everyTJ_kong1:hover {
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: bold;
}

.AddTiaoJian {
    position: absolute;
    top: 40px;
    bottom: 0;
    z-index: 20;
    width: 100%;
    transition: left 800ms;
}

.addTiaoJian {
    left: 0;
}

.notAddTiaoJian {
    left: 110%;
}

.add_new_area {
    text-align: center;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 1px dashed rgb(170, 168, 168);
    font-size: 14px;
    padding: 8px 0;
    margin: 7px 0 15px 0;
    border-radius: 5px;
    letter-spacing: 3px;
    color: rgb(133, 129, 129);
    position: relative;
}

.add_new_area>span {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 12px;
    color: red;
}

.add_new_area>p:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
}

.el-select__tags {
    max-height: 50px !important;
    overflow-y: auto
}